# .gitignore

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Arquivos de ambiente virtual
venv/
env/
ENV/

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
